@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
  --background: #03051E;
  --foreground: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --blue: #005070;
  --orange: #B08C19;
  --orange-dark: #8a6e13;

  --font: "Jura"
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Jura", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --- UNIVERSAL STYLES --- */

/* individual elements */
.button {

  background-color: var(--orange);
  border: none;
  border-radius: 6px;

  width: 200px;
  height: 50px;

  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  transition: 200ms ease;
}

/* layout */
.flex--between {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

/* PAGE & SECTION STYLES*/

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3em;
}

.header {
  grid-row: 1;
  grid-column: 3 / span 8;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 10dvh;
}

.main {
  grid-row: 2;
  grid-column: 3 / span 8;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 2em 1em;
  place-items: center;
}