@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
  --background: #03051E;
  --foreground: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --blue: #005070;
  --orange: #B08C19;
  --orange-dark: #8a6e13;

  --font: "Jura"
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Jura", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}